<div class="container">
  <h1>Add Item to <%= @meal_plan.category %></h1>
  <p>Plan Date: <%= @meal_plan.start_date.strftime("%B %d, %Y") %></p>

  <%= form_with(model: [@meal_plan, @meal_plan_item], local: true, class: "meal-form") do |f| %>
    
    <section class="form-group">
      <h3>1. Schedule Details</h3>
      <%= f.label :scheduled_date %>
      <%= f.date_field :scheduled_date, value: @meal_plan.start_date %>

      <%= f.label :meal_slot %>
      <%= f.select :meal_slot, MealPlanItem.meal_slots.keys.map { |s| [s.titleize, s] } %>
    </section>

    <hr>

    <section class="form-group">
      <h3>2. Choose What to Eat</h3>
      <p><small>Fill out only <strong>one</strong> of the sections below:</small></p>

      <div class="option-box">
        <h4>Option A: Select an Existing Recipe</h4>
        <%= f.hidden_field :plannable_type, value: "Recipe" %>
        <%= f.collection_select :plannable_id, @recipes, :id, :title, include_blank: "Select a Recipe..." %>
      </div>

      <div class="option-box">
        <h4>Option B: Select an Existing Item</h4>
        <%# Note: We manually set the type to Item if this section is used %>
        <%= f.collection_select :plannable_id, @items, :id, :item_name, include_blank: "Select an Item..." %>
      </div>

      <div class="option-box">
        <h4>Option C: Create a New Item</h4>
        <%= label_tag :new_item_name, "Item Name" %>
        <%= text_field_tag :new_item_name, nil, placeholder: "e.g., Protein Bar" %>
        
        <%= label_tag :new_item_quantity, "Quantity/Notes" %>
        <%= text_field_tag :new_item_quantity, nil, placeholder: "e.g., 2 packs" %>
      </div>
    </section>

    <div class="actions">
      <%= f.submit "Add to Meal Plan", class: "btn-submit" %>
      <%= link_to "Cancel", meal_plan_path(@meal_plan), class: "btn-cancel" %>
    </div>
  <% end %>
</div>